.faq-container {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .faq-toggle {
    font-size: 20px;
    color: #666;
  }
  
  .faq-answer {
    font-size: 16px;
    color: #444;
    margin-top: 8px;
    white-space: pre-line; /* Preserve line breaks */
  }
  
  .faq-bottom {
    text-align: center;
    margin-top: 30px;
  }
  
  .faq-bottom h3 {
    font-size: 20px;
  }
  
  .faq-bottom p {
    font-size: 16px;
    color: #555;
  }
  
  .enroll-button {
    background: linear-gradient(to right, #7a30d3, #ff33a2);
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  
  .enroll-button:hover {
    opacity: 0.9;
  }

  .cta-button{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #2c3ec7, #ff00c7);
    padding: 14px 14px;
    align-items: center;
    border: none;
    width: 45%;
    border-radius: 10px;
    cursor: pointer;
  }
  